<div class="container">
    <div class="row justify-content-md-center align-items-center">
        <aside class="col-sm-4">
        <article class="card-body ">
            
            <form>
            <div class="form-group">
            <div class="input-group">
                <div><img class="img-ok" src="img/ok.png" alt=""></div>
            </div> <!-- input-group.// -->
            <div class="input-group">
                <h4 class="card-title text-center mb-4 mt-1" id="lblpac">La hora fue agendada correctamente</h4>
            </div>
            </div> <!-- form-group// -->

            </form>
        </article>
        </aside>
    </div>
</div> 